.reveal .footer {
    z-index: 5;

    @apply absolute bottom-0 h-12;
    @apply w-full;

    @apply bg-gradient-to-r from-emerald-600 to-emerald-400;
    @apply text-3xl;
    display: flex
}

.reveal .footer span {
    @apply px-4 pt-1;
    width: 33%;
    text-align: center;
    padding-bottom: 5px;

}

/* .reveal .footer span.conference {
    @apply float-left;
} */

/*.reveal .footer span.conference img {
    @apply inline float-left h-10;
    margin-top: -2px;
}

.reveal .footer span.speaker {
    @apply float-right;

    padding-left: 50px;
    background-position: -5px -2px;
}

.reveal .footer span.speaker img {
    float: right;
    display: inline;
    height: 2.5rem;
    margin-top: -2px;
} */